**/.terraform/*
*.out

*.tfstate
*.tfstate.*

crash.log
crash.*.log

**/.terraform.lock.hcl

override.tf
override.tf.json
*_override.tf
*_override.tf.json

#vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

